@font-face {
  font-family: "WhiteRabbit";
  src: url("@/assets/fonts/WhiteRabbit.ttf");
}

@font-face {
  font-family: "Exo";
  src: url("@/assets/fonts/Exo-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lucania";
  src: url("@/assets/fonts/Lucania.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("@/assets/fonts/JetBrainsMono.ttf");
}
