@font-face {
  font-family: "White Rabbit";
  src: url("@/assets/fonts/White-Rabbit.ttf");
}

@font-face {
  font-family: "Exo";
  src: url("@/assets/fonts/Exo-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lucania";
  src: url("@/assets/fonts/Lucania.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("@/assets/fonts/JetBrainsMono.ttf");
}

.font-whiteRabbit {
  font-family: "White Rabbit";
}
.font-exo {
  font-family: "Exo";
}

.font-lucania {
  font-family: "Lucania";
}

.font-jetbrainsMono {
  font-family: "JetBrains Mono";
}
