.vue-gradient-bg {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
}

.vue-radial-gradient-bg {
  background: radial-gradient(141.42% 141.42% at 100% 0%, #42d392 25%, #647eff);
}

.vue-gradient-text {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vite-gradient-bg {
  background:
    radial-gradient(141.42% 141.42% at 100% 0%, #fff6, #fff0),
    radial-gradient(140.35% 140.35% at 100% 94.74%, #bd34fe, #bd34fe00),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #41d1ff, #41d1ff00);
}

.vite-gradient-text {
  background:
    radial-gradient(141.42% 141.42% at 100% 0%, #fff6, #fff0),
    radial-gradient(140.35% 140.35% at 100% 94.74%, #bd34fe, #bd34fe00),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #41d1ff, #41d1ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typescript-gradient-bg {
  background: -webkit-linear-gradient(315deg, #3179c7 25%, #3524cc);
}

.typescript-gradient-text {
  background: -webkit-linear-gradient(315deg, #3179c7 25%, #3524cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin primary-gradient-text {
  @apply bg-gradient-to-r from-stone-700 to-stone-500 bg-clip-text text-transparent dark:from-[#42d392] dark:to-[#647eff];
}

@mixin secondary-gradient-text {
  @apply bg-gradient-to-r from-stone-700 to-stone-500 bg-clip-text text-transparent dark:from-[#41d1ff] dark:to-[#bd34fe];
}

@mixin animated-line {
  @apply absolute right-[17px] w-[1px] rotate-45;
}

@mixin colored-line {
  @apply dark:border-primary-500/50 border-stone-500/50;
}

@mixin colored-background {
  @apply dark:bg-primary-500/50 bg-stone-500/50;
}

@mixin section-wrapper {
  @apply relative min-h-screen w-full;
}
